:root {
  --primary-green: #1ac962;
  --primary-green-light: #14eb6c;
  --font-gray: #ccd1d2;
  --primary-gray: #33373f;
  --bg-gray: #292b2f;
}

.title-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.block-gray {
  background-color: var(--primary-gray);
  padding: 10px 15px;
}

body {
  background-color: var(--bg-gray);
  color: var(--font-gray);
  font-family: "Hind", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  padding: 10px 25px;
  justify-content: space-between;
  background-color: var(--primary-gray);
  position: sticky;
  position: -webkit-sticky;
  top: 0;

  div {
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      color: var(--primary-green);
    }

    h1 {
      font-size: 1.2rem;
      margin-left: 0.5rem;
      color: var(--font-gray);
    }
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;

  aside {
    background-color: var(--primary-gray);
    padding: 10px 15px;
  }

  div {
    padding: 15px 30px;
  }
}
