:root {
  --primary-green: #1ac962;
  --primary-green-light: #14eb6c;
  --font-gray: #ccd1d2;
  --primary-gray: #33373f;
  --bg-gray: #292b2f;
  --radius: 10px;
}

* {
  margin: 0;
  padding: 0;
}

.title-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.block-gray {
  background-color: var(--primary-gray);
  padding: 10px 15px;
}

body {
  background-color: var(--bg-gray);
  color: var(--font-gray);
  font-family: "Hind", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  padding: 20px 60px;
  justify-content: space-between;
  background-color: var(--primary-gray);
  position: sticky;
  position: -webkit-sticky;
  top: 0;

  div {
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      color: var(--primary-green);
      box-shadow: #292b2f 0px 0px 10px;
    }

    h1 {
      font-size: 1.5rem;
      margin-left: 0.3rem;
      color: var(--font-gray);
    }
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;

  aside {
    background-color: var(--primary-gray);
    display: flex;
    flex-direction: column;
    padding: 35px 40px;
    gap: 20px 0px;

    div {
      display: flex;
      align-items: center;
      justify-content: start;
      font-size: 20px;
      font-weight: 600;
      gap: 0px 10px;
    }
  }

  section {
    padding: 25px 60px;

    h2 {
      margin: 20px 0px;
      font-size: 35px;
    }

    .card-container {
      display: grid;
      gap: 35px 30px;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

      .card {
        min-width: 200px;
        max-width: 300px;

        .graphic {
          border-radius: var(--radius);
          background-color: var(--primary-gray);
          padding: 40px 25px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: var(--primary-green);
          font-size: 19px;

          svg {
            font-size: 40px;
          }
        }

        .grams {
          background-color: var(--primary-gray);
          padding: 15px 10px;
          border-radius: var(--radius);
          text-align: center;
          margin-top: 10px;
        }

        .update-btn {
          background-color: var(--primary-green);
          color: var(--primary-green-light);
          padding: 15px 10px;
          width: 100%;
          font-size: large;
          border-radius: var(--radius);
          text-align: center;
          margin-top: 10px;
          border: none;
        }
      }
    }
  }
}

.g-purple {
  color: #7864f1;
}

.g-yellow {
  color: #d6f877;
}

.g-red {
  color: #f87777;
}

.selected-tab {
  background-color: var(--primary-green);
  color: var(--primary-green-light);
  border-radius: var(--radius);
  padding: 10px 15px;
}

.icons-container {
  position: relative;

  svg {
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &:hover {
      scale: 1.1;
      color: var(--primary-green);
    }
  }

  #notification-dialog {
    display: none;
    position: absolute;
    width: 100px;
    background: var(--primary-gray);
    left: -50px;
    top: 55px;
    padding: 20px;

    &::first-letter {
      text-transform: uppercase;
      color: rgb(252, 252, 107);
    }
  }

  #notification-icon:hover + #notification-dialog {
    display: block;
  }
}
