:root {
  --primary-green: #1ac962;
  --primary-green-light: #14eb6c;
  --font-gray: #ccd1d2;
  --primary-gray: #33373f;
  --bg-gray: #292b2f;
  --radius: 10px;
  --border-gray: #4a4a4a;
}

* {
  margin: 0;
  padding: 0;
}

.title-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.block-gray {
  background-color: var(--primary-gray);
  padding: 10px 15px;
}

body {
  background-color: var(--bg-gray);
  color: var(--font-gray);
  font-family: "Hind", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  z-index: 20;
  padding: 20px 60px;
  justify-content: space-between;
  background-color: var(--primary-gray);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  border-bottom: 1px solid var(--border-gray);

  div {
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      color: var(--primary-green);
      box-shadow: #292b2f 0px 0px 10px;
    }

    h1 {
      font-size: 1.5rem;
      margin-left: 0.3rem;
      color: var(--font-gray);
    }
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;

  aside {
    background-color: var(--primary-gray);
    display: flex;
    position: sticky;
    top: 10;
    min-width: 160px;
    flex-direction: column;
    padding: 35px 40px;
    gap: 20px 0px;

    div {
      display: flex;
      align-items: center;
      justify-content: start;
      font-size: 20px;
      font-weight: 600;
      gap: 0px 10px;

      a {
        text-decoration: none;
        color: var(--font-gray);
      }
    }
  }

  #tabs {
    display: none;

    a {
      text-decoration: none;
      color: var(--font-gray);
    }
  }
}

.g-purple {
  color: #7864f1;
}

.g-yellow {
  color: #d6f877;
}

.g-red {
  color: #f87777;
}

.selected-tab {
  background-color: var(--primary-green);
  color: var(--primary-green-light);
  border-radius: var(--radius);
  padding: 10px;
  height: auto;

  a {
    color: var(--primary-green-light);

    svg {
      color: var(--primary-green-light);
    }
  }
}

.icons-container {
  position: relative;

  svg {
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &:hover {
      scale: 1.1;
      color: var(--primary-green);
    }
  }

  #notification-dialog {
    display: none;
    position: absolute;
    width: 100px;
    background: var(--primary-gray);
    left: -50px;
    top: 55px;
    padding: 20px;

    &::first-letter {
      text-transform: uppercase;
      color: rgb(252, 252, 107);
    }
  }

  #notification-icon:hover + #notification-dialog {
    display: block;
  }
}

@media (max-width: 1000px) {
  main {
    grid-template-columns: 1fr;
    justify-content: center;

    h2 {
      margin: 0;
    }

    aside {
      display: none;
    }

    #tabs {
      display: flex;
      position: sticky;
      bottom: 0;
      width: 100%;
      background: var(--primary-gray);
      justify-content: center;
      align-items: baseline;
      gap: 10px 40px;
      padding: 20px 0px;
      border-top: var(--border-gray) 1px solid;

      div {
        height: 40px;
      }
    }
  }
}

.card-fp {
  background-color: var(--primary-gray);
  margin-bottom: 10px;
}
