body {
  background: #2d282f;
  color: rgb(227, 221, 231);
  font-size: 19px;
  font-family: "Hind", sans-serif;
}

a {
  color: #d2ade0;
}

table {
  border-collapse: collapse;
  width: 80%;
}

th {
  background-color: #d2ade0;
  color: #2d282f;
  font-weight: bold;
  padding: 8px;
  text-align: left;
}

td {
  border: 1px solid #d2ade0;
  padding: 8px;
  text-align: left;
}

#contact-link {
  color: #8b599e;
  font-weight: bold;
  text-decoration: underline;
}

.title {
  color: #ffffff;
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

input,
textarea,
.form-input {
  background-color: #5b4f5f;
  border: 1px solid #e3c8ed;
  color: #d2ade0;
  padding: 8px;
  transition: all 0.3s ease-in-out;

  &:focus {
    background-color: #443a48;
    border: 1px solid #e3b9f2;
  }

  &:hover {
    border: 1px solid #cc86e5;
    border-width: 2px;
  }
}

button {
  background-color: #d2ade0;
  border: 1px solid #d2ade0;
  color: #2d282f;
  padding: 4px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  max-width: 300px;
  min-width: 250px;
  background-color: #4e4651;
  border: 1px solid #d2ade0;
  margin: 10px;
  padding: 20px 5px;
  width: 30%;

  font-size: 16px;

  div {
    display: flex;
    justify-content: center;

    button {
      padding: 5px 20px;
    }
  }
}

.card-img {
  width: 100%;
  height: 45%;
}

form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 500px;
  margin: 10px;
  background-color: #3d3340;
  padding: 30px 40px;

  div {
    display: flex;
    flex-direction: column;
    width: 100%;

    label::first-letter {
      text-transform: uppercase;
      color: #a982b2;
    }
  }

  button {
    margin-top: 10px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    font-size: large;

    &:hover {
      background-color: #e2a4f9;
      scale: 1.02 1.1;
    }
  }
}

#select {
  padding: 10px;
  -webkit-appearance: none;
  appearance: none;
}

#contact-title::before {
  content: " 📋 ";
  padding-left: 15px;
  color: #d2ade0;
}

nav ul {
  display: flex;
  justify-content: left;
  list-style-type: none;
  padding: 0;
  gap: 20px;
}

.submenu {
  display: none;
  position: absolute;
  background-color: #4e4651;
  list-style-type: none;
  padding: 10px;
  margin: 0;
  border: 1px solid #d2ade0;
}

.submenu li {
  margin: 5px 0;
}

.submenu a {
  color: #d2ade0;
  text-decoration: none;
  font-size: 16px;
}

.submenu a:hover {
  color: #8b599e;
}

nav ul li:hover .submenu {
  display: block;
}

#a {
  color: #f0d5f8;
}
